form {
  margin: auto;
  width: 500px;
  padding: 30px;
  border: 0.6px solid rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  mat-form-field {
    width: 500px;
  }
  mat-slider {
    width: 500px;
  }
  .flex {
    display: flex;
    mat-form-field {
      margin: 0 5px;
    }
  }
}
