<form [formGroup]="filtresFormGroup">
  <mat-error *ngIf="filtresFormGroup.controls['filters'].errors?.required && filtresFormGroup.controls['filters'].touched">
    {{ 'select country' | translate }}
  </mat-error>
  <angular2-multiselect name="selectedItems" formControlName="filters" [data]="itemList" [settings]="settings" [(ngModel)]="selectedItems">
  </angular2-multiselect>
</form>
<div class="buttons">
  <button mat-raised-button matStepperPrevious color="accent">{{ 'previous' | translate }}</button>
  <button mat-raised-button color="warn" (click)="resetForm()">{{ 'cancel' | translate }}</button>
  <button mat-raised-button matStepperNext color="primary" [disabled]="!filtresFormGroup.valid" (click)="saveForm()">{{ 'next' | translate }}</button>
</div>
