<form [formGroup]="workingHoursFormGroup" disabled>
  <button style="text-transform: uppercase" mat-raised-button (click)="select = 'open'" [ngClass]="{ 'selected' : select == 'open' }">{{ 'open' | translate }}</button>
  <button style="text-transform: uppercase" mat-raised-button (click)="select = '24/24'" [ngClass]="{ 'selected' : select == '24/24' }">24/24</button>
  <button style="text-transform: uppercase" mat-raised-button (click)="select = 'closed'" [ngClass]="{ 'selected' : select == 'closed' }">{{ 'closed' | translate }}</button>
  <br>
  <div *ngIf="select == 'open'">
    <mat-form-field>
      <input matInput mask-number [mask]="'99:99'" placeholder="{{ 'from' | translate }}" formControlName="from" [(ngModel)]="from">
      <mat-error *ngIf="workingHoursFormGroup.controls['from'].errors?.required">
        {{ 'required open hour' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput mask-number [mask]="'99:99'" placeholder="{{ 'to' | translate }}" formControlName="to" [(ngModel)]="to">
      <mat-error *ngIf="workingHoursFormGroup.controls['to'].errors?.required">
        {{ 'required close hour' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="workingHoursFormGroup.errors && workingHoursFormGroup.controls['from'].touched && workingHoursFormGroup.controls['to'].touched">
        {{ 'hour format' | translate }}
    </mat-error>
  </div>
  <input type="text" formControlName="program" hidden [(ngModel)]="select">
</form>

<div class="buttons">
  <button mat-raised-button matStepperPrevious color="accent">{{ 'previous' | translate }}</button>
  <button mat-raised-button color="warn" (click)="resetForm()">{{ 'cancel' | translate }}</button>
  <button mat-raised-button matStepperNext color="primary" [disabled]="!workingHoursFormGroup.valid" (click)="saveForm()">{{ 'next' | translate }}</button>
</div>
