<mat-form-field>
  <mat-select placeholder="{{ 'language' | translate }}">
    <mat-option (click)="switchLanguage('en')" value="{{ 'english' | translate }}">
      {{ 'english' | translate }}
    </mat-option>
    <mat-option (click)="switchLanguage('ro')" value="{{ 'romaninan' | translate }}">
      {{ 'romaninan' | translate }}
    </mat-option>
    <mat-option (click)="switchLanguage('ru')" value="{{ 'russian' | translate }}">
      {{ 'russian' | translate }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-horizontal-stepper [linear]='isLinear'>
  <mat-step label="{{ 'location' | translate }}" [stepControl]="locationFormGroup">
    <location [locationFormGroup]="locationFormGroup"></location>
  </mat-step>
  <mat-step label="{{ 'working hours' | translate }}" [stepControl]="workingHoursFormGroup">
    <working-hours [workingHoursFormGroup]="workingHoursFormGroup"></working-hours>
  </mat-step>
  <mat-step label="{{ 'contact' | translate }}" [stepControl]="contactFormGroup">
    <contact [contactFormGroup]="contactFormGroup"></contact>
  </mat-step>
  <mat-step label="{{ 'photos' | translate }}" [stepControl]="photosFormGroup">
    <photos [photosFormGroup]="photosFormGroup"></photos>
  </mat-step>
  <mat-step label="{{ 'filters' | translate }}" [stepControl]="filtresFormGroup">
    <filters [filtresFormGroup]="filtresFormGroup"></filters>
  </mat-step>
  <mat-step label="{{ 'additions and prices' | translate }}" [stepControl]="additionsAndPriceFromGroup">
    <additions-and-price [additionsAndPriceFromGroup]="additionsAndPriceFromGroup"></additions-and-price>
  </mat-step>
  <mat-step label="{{ 'final' | translate }}" class="flex">
    <div class="flex">
      <p>{{ 'last step' | translate }}</p>
      <button mat-raised-button color="primary" (click)="onSubmit()">{{ 'send' | translate }}</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
