<form [formGroup]="additionsAndPriceFromGroup">

  <div>
    <p>{{ 'additions' | translate }}</p>
    <angular2-multiselect [data]="mainList" [(ngModel)]="mainItems" formControlName="items" [settings]="settings" (onSelect)="onItemSelect($event)"
      (onDeSelect)="OnItemDeSelect($event)">
      <c-item>
        <ng-template let-item="item">
          <img [src]="item.image" style="margin-bottom: -8px; width: 50px; border: 1px solid #efefef;margin-right: 20px;" />
          <label style="color: #333;min-width: 150px;">{{ item.itemName }}</label>
        </ng-template>
      </c-item>
    </angular2-multiselect>
  </div>

  <div>
    <p>{{ 'services' | translate }}</p>
    <angular2-multiselect [data]="additionalList" formControlName="additions" [(ngModel)]="additionalItems">
      <c-item>
        <ng-template let-item="item">
          <label style="color: #333;min-width: 150px;">{{ item.itemName }}</label>
          <label style="font-weight: bold; color: #333;min-width: 150px;">{{ item.price }}</label>
        </ng-template>
      </c-item>
    </angular2-multiselect>
  </div>

</form>
<div class="buttons">
  <button mat-raised-button matStepperPrevious color="accent">{{ 'previous' | translate }}</button>
  <button mat-raised-button color="warn" (click)="resetForm()">{{ 'cancel' | translate }}</button>
  <button mat-raised-button matStepperNext color="primary" [disabled]="!additionsAndPriceFromGroup.valid" (click)="saveForm()">{{ 'next' | translate }}</button>
</div>
