<form [formGroup]="photosFormGroup">
  <button mat-raised-button class="center" color="primary" (click)="imgFileInput.click()">{{ 'add' | translate }}</button>
  <input hidden type="file" #imgFileInput (change)="prework($event)" />
  <div *ngIf="!imageURL; else image" class="image-placeholder" [ngClass]="{'invalid' : !photosFormGroup.valid}">
    <mat-spinner color="warn" *ngIf="loading"></mat-spinner>
    <div class="vertical" *ngIf="!loading" style="padding-top: 220px">
      {{ 'upload' | translate }}
    </div>
  </div>
  <ng-template #image>
    <br>
    <img class="simg" src="{{ imageURL }}" width="750">
  </ng-template>
  <input type="text" name="imageURL" formControlName="imageURL" [(ngModel)]="imageURL" readonly hidden>
</form>
<div class="buttons">
  <button mat-raised-button matStepperPrevious color="accent">{{ 'previous' | translate }}</button>
  <button mat-raised-button color="warn" (click)="resetForm()">{{ 'cancel' | translate }}</button>
  <button mat-raised-button matStepperNext color="primary" [disabled]="!photosFormGroup.valid" (click)="saveForm()">{{ 'next' | translate }}</button>
</div>
