form {
  text-align: center;
  .image-placeholder {
    height: 452px;
    width: 750px;
    border: .3px solid rgba(0, 0, 0, .38);
    margin: 10px auto;
  }
  .simg {
    margin: 10px;
    border: 0.2px solid rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  mat-spinner {
    margin: 185px auto 0;
  }
  .invalid {
    border: .5px solid red;
  }
}
