agm-map {
    height: 400px;
    width: 700px;
    transition: .2s;
    @media screen and (max-width: 1200px) {
        width: 500px;
    }
}

input[readonly] {
    color: rgba(0, 0, 0, .48);
}

.flex {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    mat-form-field {
        width: 250px;
    }
}

.column {
    padding: 40px 25px;
    border: 0.6px solid rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-direction: column;
}
